<div class="container skills-container">
  <h3><i class="fas fa-laptop-code icons-headline"></i>{{ site.langAndTech_title | default: "Skills" }}</h3>
  <div class="row clearfix layout">
    
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 layout.extradetails">
      {% for item in site.data.languages %}
        <p>{%- if item.language -%}{{ item.language }}{%- endif -%}
          {%- if item.stars -%}
            {% for item in item.stars %}
              <span class="fa fa-star checked"></span>
            {% endfor %}
          {%- endif -%}
          {%- if item.empty_stars -%}
            {% for item in item.empty_stars %}
              <span class="fa fa-star"></span>
            {% endfor %}
          {%- endif -%}
        </p>
      {% endfor %}
      <br>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 layout.extradetails">
      {% for technology in site.data.technologies %}
        <p>
        {%- if technology.technology -%}
          <b>{{technology.technology}}: </b> 
        {%- endif -%}
        {%- if technology.ability -%}
          {{technology.ability}}</p>
        {%- endif -%}
      {% endfor %}
    </div>

  </div>
</div>

